.photo table{
    width:100%;
}

.photo td{
    width:15vw;
}

.photo img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.photo .testphoto{
    height: 20vh;
    text-align:center;
    display: flex;
}
.photo .testphoto div{
    width: 50vw;
    height: auto;
}

.photo .testphoto .p{
    margin: 0; 
    padding: 0;
}

.photo .testphoto img{
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10vw;/*角の丸み*/
    width: 30vw;
    height:60vh;
    object-fit: cover;
}