<html lang="ja">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Simple Face Recognition App</title>
</head>

<body>
    <div>
        <div style="padding-left: 5vw;">
            <br>
            <div class="row">
                <div class="col-md-10">
                    <h1>Welcome to Simple Face Recognition App</h1>
                </div>
                <div class="photo">
                    <p style="color: black; font-size: 200%; display:inline;">Person Group:    {{groupname}}</p>
                    <table>
                        <th>
                        </th>
                        <tr>
                            {% for img in imgs %}
                            <td>
                                <img src="{{img}}"></img>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <br>
                    <div class="col-md-10">
                        <p style="color: black; font-size: 200%; display:inline;">Test Image:   {{testname}}</p>
                    </div>
                    <span class="testphoto">
                        <img src="{{test}}" style="object-fit:cover; top:0;">
                        <div style="vertical-align: center;">
                            <h3 style="font-size: x-large; ">俺確率</h3>
                            {% if confidence > 0.5 %}
                            <p style="color: red; font-size:{{confidence*7}}%; display:inline;"> {{confidence}} %</p>
                            {% else %}
                            <p style="display:inline;"> {{confidence}} %</p>
                            {% endif %}
                            <p style="display:inline;">の確率で</p>
                            {% if confidence > 0.5 %}
                            <p style="color: black; font-size: {{confidence*5}}%; display:inline;">俺</p>
                            {% else %}
                            <p style="display:inline;">俺</p>
                            {% endif %}
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>

</html>