<html lang="ja">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Simple Face Recognition App</title>
</head>

<body>
    <div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-10">
                    <h1>Welcome to Simple Face Recognition App</h1>
                </div>
                <div class="photo">
                    <table>
                        <th>
                            {% for img in imgs %}
                        <td>
                            <img src="{{img}}"></img>
                        </td>
                        {% endfor %}
                        </th>
                    </table>
                    <span class="testphoto">
                        <img src="{{test}}">
                        <div style="vertical-align: center;">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h3 style="font-size: x-large; ">俺確率</h3>
                            <span style="display: flex; text-align: center;">
                                {% if confidence > 0.5 %}
                                <p style="color: red; font-size: xx-large;"> {{confidence}} %</p>
                                {% else %}
                                <p> {{confidence}} %</p>
                                {% endif %}
                            </span>
                            <p>の確率で</p>
                            <span>
                                {% if confidence > 0.5 %}
                                <p style="color: black; font-size: xx-large;">俺</p>
                                {% else %}
                                <p>俺</p>
                                {% endif %}
                            </span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>

</html>